/** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Theme primary colors */
--clr-primary-a0: #ff9900;
--clr-primary-a10: #ffa433;
--clr-primary-a20: #ffb050;
--clr-primary-a30: #ffbb6a;
--clr-primary-a40: #ffc683;
--clr-primary-a50: #ffd19c;

/** Theme surface colors */
--clr-surface-a0: #1f1d1c;
--clr-surface-a10: #343231;
--clr-surface-a20: #4a4847;
--clr-surface-a30: #615f5f;
--clr-surface-a40: #797877;
--clr-surface-a50: #939191;

/** Theme tonal surface colors */
--clr-surface-tonal-a0: #33281e;
--clr-surface-tonal-a10: #473c33;
--clr-surface-tonal-a20: #5c5249;
--clr-surface-tonal-a30: #716860;
--clr-surface-tonal-a40: #888079;
--clr-surface-tonal-a50: #9e9892;

/** Examples */
.bg-primary {
 color: var(--clr-primary-a50);
 background-color: var(--clr-surface-a0);
}