:root {
    /* Light Theme */
    --theme-name: "Light Theme";
    /** Base colors */
    --theme-color: #ffffff;
    --theme-text-color: #000000;
    /** Theme primary colors */
    --theme-background-color: #f0f0f0;
    --theme-accent-color: #ff9900;
    --theme-secondary-color: #e1e1e1;
    --theme-tertiary-color: #d3d3d3;
    --theme-quaternary-color: #c5c5c5;
    --theme-quinary-color: #b6b6b6;
    /** Theme surface colors */
    --theme-surface-color: #ffffff;
    --theme-surface-text-color: #000000;
    --theme-surface-accent-color: #f0f0f0;
    --theme-surface-secondary-color: #e1e1e1;
    --theme-surface-tertiary-color: #d3d3d3;
    --theme-surface-quaternary-color: #c5c5c5;
    --theme-surface-quinary-color: #b6b6b6;
    /** Theme tonal surface colors */
    --theme-surface-tonal-color: #fff5e8;
    --theme-surface-tonal-text-color: #000000;
    --theme-surface-tonal-accent-color: #f0e7dc;
    --theme-surface-tonal-secondary-color: #e1dad0;
    --theme-surface-tonal-tertiary-color: #d3ccc4;
    --theme-surface-tonal-quaternary-color: #c5bfb8;
    --theme-surface-tonal-quinary-color: #b7b2ad;
    --theme-surface-tonal-quinary-text-color: #000000;
    --theme-surface-tonal-quinary-accent-color: #f0e7dc;
    --theme-surface-tonal-quinary-secondary-color: #e1dad0;
    --theme-surface-tonal-quinary-tertiary-color: #d3ccc4;
    --theme-surface-tonal-quinary-quaternary-color: #c5bfb8;
    --theme-surface-tonal-quinary-quinary-color: #b7b2ad;
}