# Conversor heic a jpg
# Permitir
!Encargos/20250723 - convertir HEIC a JPG/HEICaJPG*
# Omitir
Encargos/20250723 - convertir HEIC a JPG/entrada/*
Encargos/20250723 - convertir HEIC a JPG/salida/*
Encargos/20250723 - convertir HEIC a JPG/programa/ImageMagick*
