<div class="body">
    <div class="timeline">
        <!-- Esto se puede hacer mejor seguro -->
        @for (actividad of actividades; track $index) {
        @if ($index%2==0) {
        <div class="container left">
            <div class="content">
                <div class="fechas">
                    <p>{{actividad.inicio}}</p>
                    @if (actividad.fin) {
                    <p>-{{actividad.inicio}}</p>
                    }
                </div>
                <p>{{actividad.nombre}}</p>
                <p>En {{actividad.localizacion}}</p>
            </div>
        </div>
        }@else {
        <div class="container right">
            <div class="content">
                <div class="fechas">
                    <p>{{actividad.inicio}}</p>
                    @if (actividad.fin) {
                    <p>-{{actividad.inicio}}</p>
                    }
                </div>
                <p>{{actividad.nombre}}</p>
                <p>En {{actividad.localizacion}}</p>
            </div>
        </div>
        }
        }
    </div>
</div>